:root {
    --main-bg-color: #F4F2F3;
    --primary-color: #FF8A5B;
    --secondary-color: #5EB1BF;
    --secondary-dark-color: #27474E;
}

* {
    box-sizing: border-box;
}

/* Blog Card */

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.blog-card {
    width: 40%;
    height: min-content;
    margin: 0 40px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06);
    margin-bottom: 40px;
    background: white;
    line-height: 1.4;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
}

@media screen and (max-width: 990px) {
    .blog-card {
        width: 100%;
    }

    .blog-posts {
        width: 100%;
    }
}

.blog-card a,
.blog-card a:visited {
    color: var(--primary-color);
    text-decoration: none;
    transition: 1s;
}

.blog-card a:hover {
    text-decoration: none;
    color: var(--secondary-dark-color);
}

.description {
    padding: 1rem 1rem 0 1rem;
    background: white;
    position: relative;
    z-index: 1;
}

.description h1 {
    color: var(--secondary-dark-color);
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-top: 5px;
}

.read-more {
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;
}

.read-more a {
    display: inline-block;
    position: relative;
}